body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
}

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}


img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
 
}

h1{
    font-weight: 400;
}

hr{
    height: 4px;
    background: cornflowerblue;
    border: none
}

p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.container{
    max-width: 1000px;
    background: lightgray;
    padding: 40px;
    font-size: 22px;
    margin: auto;
    margin-top: 300px;
    border-radius: 10px;
    transition: all 300ms;

}

.container:hover{
    transform: translate(-5px, -10px);
    box-shadow: 10px 10px 20px -5px rgba (0, 0, 0, 0.40);

}



.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}



.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
