body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
 
}

h1{
    font-weight: 400;
}

hr{
    height: 4px;
    background: cornflowerblue;
    border: none
}

p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.container{
    max-width: 500px;
    background: darkgray;
    padding: 40px;
    font-size: 22px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    transition: all 300ms;

}

.container:hover{
    transform: translate(-5px, -10px);
    box-shadow: 10px 10px 20px -5px rgba (0, 0, 0, 0.40);

}

